/exercise1/api/obj
/exercise1/api/bin
/exercise1/api/.vs
exercise1/api/starbase.db
exercise1/api/starbase.db-shm
exercise1/api/starbase.db-wal
/exercise1/StarGateTests/obj
/exercise1/StarGateTests/bin
/exercise1/StargateDemo/bin
/exercise1/.vs
